<ion-header>
  <ion-toolbar>
    <ion-title >map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="food">
        <ion-icon name="pizza-outline" color="warning"></ion-icon>
        <ion-label>Food</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="glass">
        <ion-icon name="wine-outline" color="primary"></ion-icon>
        <ion-label>Glass</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="paper">
        <ion-icon name="newspaper-outline" color="success"></ion-icon>
        <ion-label>Paper</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="plastic">
        <ion-icon name="pint-outline" color="dark"></ion-icon>
        <ion-label>Plastic</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>